spring:
  profiles:
    active: local

  jpa:
    database: mysql
    properties:
      hibernate:
    generate-ddl: true
    hibernate:
      ddl-auto: create

  datasource:
    url: ${DB_URL}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  data:
    redis:
      host: ${REDIS_USER}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
